<h1>{{ title }}</h1>
<div id="cont">
  <form action="/{{ action }} {{#if id}} /{{id}} {{/if}}" method="post">
    <input type="text" value="{{#if contact}} {{contact.firstName}} {{/if}}" name="firstName" placeholder="Nom">
    <input type="text" value="{{#if contact}} {{contact.lastName}} {{/if}}" name="lastName" placeholder="Prénom">
    <input type="text" value="{{#if contact}} {{contact.email}} {{/if}}" name="email" placeholder="Email">
    <input type="text" value="{{#if contact}} {{contact.noPhone}} {{/if}}" name="noPhone" placeholder="N° de téléphone">
    <input type="text" value="{{#if contact}} {{contact.tag}} {{/if}}" name="tag" placeholder="Tag">
    <input type="submit" value="Valider">
  </form>
  </div>
    {{#if errors}}
      <ul>
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
    {{/if}}
  </div>
</div>